# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Data inputs (local only)
data/raw/

# Data exports (runtime only)
data/exports/

# Local documentation
docs/

# Backup copies
* Copy.py
* BAK.py

# Archived Python Script Versions
archived/

# Miscellaneous
.DS_Store
.env
*.egg-info/
.streamlit/
.vscode/



