# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Data inputs (local only)
data/raw/

# Data
data/downloads
data/raw

# Local documentation
docs/

# Backup copies
* Copy.py
* BAK.py

# Archived Python Script Versions
archived/

# Miscellaneous
RunAppLocally.txt
.DS_Store
.env
*.egg-info/
.streamlit/
.vscode/



